h1 {
    text-align: left;
    font-style: italic;
    color: #883d31;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

input {
    color: grey;
}

form {
    color: darkred;
    border: blue;
    
}

.right {
    float: right;
    padding-left: 5px;
    padding-bottom: 5px;
}
#submit {
    background-color: grey;
}


table {
    background-color:#883d31;
    color: beige;
    width: 100%;
    
}
